.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(4px);
  filter: drop-shadow(4px 4px 7px black);
  opacity: .98;
}
.modalCont{
  position: fixed;
  width: 100%; /* Could be more or less, depending on screen size */
}
/* Modal Content/Box */
.modal-content {
  background-color: rgb(254,254,254);
  margin-top: 10rem; /* 15% from the top and centered */
  margin-left: 10rem;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all .2s ease-in;
}

.close:hover,
.close:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
  background-color: rgba(0,0,0,0);
  margin-left: -6px;
	border-width: 0px;
	transition: all 1.5s;
  font-size: .7rem;
  color: green;
  cursor: pointer;
  font-weight: bold;
}

.subhead{
  color: black;
}